/* Video */
.video-container video {
	width: 100%;
}

.video-container {
	position: relative;
}

.video-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
  justify-content: center;
	align-items: center;
	flex-direction: column;
}

.video-text {
	font-size: 50px;
	font-family: sans-serif;
	color: white;
	width: 350px;
	text-align: center;
}

.video-button {
	background-color: green;
	color: white;
	font-size: 25px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

/* Content */
.content-section {
	display: flex;
	justify-content: center; /* for responsiveness */
	flex-wrap: wrap; /* for responsiveness */
	padding: 20px 40px;
}

.content-text-section {
	width: 50%;
	min-width: 300px; /* for responsiveness */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
	border: 1px solid gray;
	box-sizing: border-box;
}

.content-text-head {
	color: green;
	font-size: 35px;
	margin-bottom: 15px;
}

.content-pic {
	width: 50%;
	min-width: 300px; /* for responsiveness */
	align-self: center; /* default is "stretch" */
}